.profile {
  display: grid;
  grid-template-columns: repeat(2, max-content) 1fr;
  gap: 30px;
  align-items: center;
  padding: 0 200px;
  max-width: 880px;
  margin: 0 auto;
}

@media screen and (max-width: 1064px) {
  .profile {
    padding: 0 19px;
    grid-template-columns: 1fr;
    gap: 0;
  }
}
