.form__main-container {
  grid-area: form;
  width: 430px;
  background: #FFFFFF;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  min-height: 343px;
}

@media screen and (max-width: 1064px) {
  .form__main-container {
    width: 282px;
  }
}
