.elements {
  padding: 51px 200px 67px 200px;
}

@media screen and (max-width: 684px) and (max-width: 1064px) {
  .elements {
    padding: 36px 25px 48px 25px;
  }
}

@media screen and (max-width: 683px) {
  .elements {
    padding: 36px 19px 48px 19px;
  }
}
