.elements__image-caption-text {
  margin: 0;
  max-width: calc(100% - 21px);
  /* max-width: 190px; */
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* @media screen and (min-width: 993px) and (max-width: 1180px) {
  .elements__image-caption-text {
    max-width: 230px;
  }
}

@media screen and (min-width: 320px) and (max-width: 992px) {
  .elements__list {
    max-width: 190px;
  }
} */
