.elements__heart {
  width: 22px;
  height: 19px;
  margin: 0 5px 0 0;
  padding: 0;
  border: none;
  background-image: url(../../../../images/heart_active.svg);
  background-color: transparent;
  transition: opacity 0.6s linear 0s;
}

.elements__heart:hover {
  opacity: 0.5;
  cursor: pointer;
}
