.form_type_picture {
  grid-template-columns: 1fr 32px;
  grid-template-rows: 32px 1fr;
  top: 0;
  left: 0;
  transform: translate(calc(50vw - 50%), calc(50vh - 50%));
}

@media screen and (max-width: 1064px) {
  .form {
    grid-template-columns: 1fr 20px;
    gap: 16px;
    grid-template-rows: 20px 1fr;
    grid-template-areas:
    ". close_icon"
    "form form";
  }
}
