.header__logo-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 74px;
}

@media screen and (max-width: 1064px) {
  .header__logo-container {
    min-height: 56px;
  }
}
