.profile__avatar-background {
  width: 120px;
  height: 120px;
  content: "";
  display: block;
  background-color: #000000;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity 0.4s linear 0s;
  z-index: 1;
}

.profile__avatar-wrapper:hover > .profile__avatar-background {
  opacity: 60%;
}

@media screen and (max-width: 1064px) {
  .profile__avatar-background {
    justify-self: center;
  }
}
