.elements__image {
  width: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  height: 282px;
  display: inline-block;
}

.elements__image:hover {
  cursor: pointer;
}

@media screen and (max-width: 1280px) {
  .elements__image {
    min-height: 79%;
  }
}

@media screen and (max-width: 1064px) {
  .elements__image {
    min-height: 100px;
  }
}
